{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-astronomy
- dc-ecology
- dc-genomics
- dc-image
- dc-socsci
- dc-geosptial
{% endcomment %}

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>June 1 (part 1)</td>  <td><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td> </tr>
      <tr> <td>June 1 (part 2)</td>  <td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">Cleaning Data with OpenRefine</a></td> </tr>
      <tr> <td>June 2</td>  <td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td> </tr>
      <tr> <td>June 3</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">R part 1</a></td> </tr>
      <tr> <td>June 4</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">R part 2</a> </td></tr>
      <tr> <td>END</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
    </table>
  </div>
</div>
